Ansible managed


Environment Variables ("environment"):
--------------------------------
[]

GROUP NAMES Variables ("group_names"):
--------------------------------
[]

GROUPS Variables ("groups"):
--------------------------------
{
    "all": [
        "linux1",
        "linux2"
    ],
    "ansible_study": [
        "linux1",
        "linux2"
    ],
    "ungrouped": []
}

HOST Variables ("hostvars"):
--------------------------------
{
    "HOST1_IP": "172.17.0.8",
    "HOST2_IP": "172.17.0.9",
    "PORT": "2222",
    "USER": "ansible-user",
    "ansible_check_mode": false,
    "ansible_connection": "local",
    "ansible_diff_mode": false,
    "ansible_facts": {},
    "ansible_forks": 5,
    "ansible_inventory_sources": [
        "/home/user/SoftwareDevelopment/KubernetesStudy/Ansible/dump_all_variables/inventory.yaml"
    ],
    "ansible_playbook_python": "/usr/bin/python",
    "ansible_python_interpreter": "/usr/bin/python",
    "ansible_run_tags": [
        "all"
    ],
    "ansible_skip_tags": [],
    "ansible_verbosity": 0,
    "ansible_version": {
        "full": "2.9.6",
        "major": 2,
        "minor": 9,
        "revision": 6,
        "string": "2.9.6"
    },
    "group_names": [],
    "groups": {
        "all": [
            "linux1",
            "linux2"
        ],
        "ansible_study": [
            "linux1",
            "linux2"
        ],
        "ungrouped": []
    },
    "inventory_hostname": "localhost",
    "inventory_hostname_short": "localhost",
    "omit": "__omit_place_holder__bde405e56bf4542d3dfa401451e1740c00d7cadf",
    "playbook_dir": "/home/user/SoftwareDevelopment/KubernetesStudy/Ansible/dump_all_variables"
}